<nav class="top-bar" role="navigation">
  <ul class="title-area">
    <li class="name"><h1><%= link_to 'Gempact', root_path %></h1></li>
  </ul>
</nav>

<div class="panel badge-details">
  <br/>

  <center>
    <h1>What is a GemPact Factor Badge?</h1>

    <br/>

    <div class="subheader">
      A GemPact factor badge is a way to let the community know how many other projects are using your gem.
      <br/>
      Add it to your README on your GitHub repository to inform your visitors.
    </div>

    <br/>
    <br/>

    <h3>Your Badge</h3>
    <img src="<%= @ruby_gem.badge_url %>"/>

    </br/>
    </br/>

    <dl>
      <dt>Badge URL</dt>
      <dd>
        <code id="badge-link"><%= @ruby_gem.badge_url %></code>
        <a href="javascript:void(0)" class="cb-copy" data-clipboard-target='badge-link'>
          <i class="fa fa-clipboard"></i>
            <small>copy to clipboard</small>

        </a>
      </dd>

      <dt>
        <br/>
        Markdown
      </dt>
      <dd>
        <code id="badge-mkdwn">[![GemPact Score](<%= @ruby_gem.badge_url %>)](<%= ruby_gem_url(@ruby_gem.name) %>)</code>
        <a href="javascript:void(0)" id="badge-md" class="cb-copy" data-clipboard-target='badge-mkdwn'>
          <i class="fa fa-clipboard"> </i>
            <small>copy to clipboard</small>
        </a>
      </dd>

    </dl>

  </center>
</div>
