<nav class="top-bar" role="navigation">
  <ul class="title-area">
    <li class="name"><h1><%= link_to 'Gempact', root_path %></h1></li>
  </ul>
</nav>

<div class="panel">
  <h1>Top gems today</h1>
  <br/>

  <ul class="gems">
    <li><%= link_to 'activesupport', ruby_gem_path('activesupport') %></li>
    <li><%= link_to 'foo-bar', ruby_gem_path('activesupport') %></li>
    <li><%= link_to 'bar-foo', ruby_gem_path('activesupport') %></li>
    <li><%= link_to 'baz_baz', ruby_gem_path('activesupport') %></li>
    <li><%= link_to 'qux_bar', ruby_gem_path('activesupport') %></li>
    <li><%= link_to 'duck-rb', ruby_gem_path('activesupport') %></li>
  </u>
</div>

