<nav class="top-bar" role="navigation">
  <ul class="title-area">
    <li class="name"><h1><%= link_to 'Gempact', root_path %></h1></li>
  </ul>
</nav>

<div class="gem panel">

  <h1><strong><%= @ruby_gem.name %></strong></h1>
  <br/>

  <h4>depends on</h4>
  <ul class="gems">
    <% @ruby_gem.dependencies.each do |dep| %>
      <li><%= link_to(dep.name, ruby_gem_path(dep.name)) %></li>
    <% end %>
  </ul>

  <h4>used by <strong><%= @ruby_gem.dependents.size %></strong> other gems</h4>
  <ul class="gems">
    <% @ruby_gem.dependents.each do |dep| %>
      <li><%= link_to(dep.name, ruby_gem_path(dep.name)) %></li>
    <% end %>
  </ul>
</div>
