<nav class="top-bar" role="navigation">
  <ul class="title-area">
    <li class="name"><h1><%= link_to 'Gempact', root_path %></h1></li>
  </ul>
</nav>

<div data-gem="<%= @ruby_gem.name %>" class="gem-details panel" >
  <h1><strong><%= @ruby_gem.name %></strong></h1>
  <br/>

  <div>
    <h4>
      depends on <strong><%= @ruby_gem.dependencies.count %></strong> gems
    </h4>

    <table class="gem-dependencies">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% @ruby_gem.dependencies.each do |dep| %>
          <tr><td><%= link_to(dep.name, ruby_gem_path(dep.name)) %></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h4>used
    <span data-tooltip aria-haspopup="true" class="has-tip"
      title="Other gems that call out an explicit dependency on this gem">
      <em>directly</em>
    </span>
    by <strong class="count"><%= @ruby_gem.dependents.count %></strong> other gems
  </h4>

  <table class="gem-dependents">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @ruby_gem.dependents.each do |dep| %>
      <% end %>
    </tbody>
  </table>

  <h4>Used
    <span data-tooltip aria-haspopup="true" class="has-tip"
      title="Other gems that use other gems that use this gem">
      <em>indirectly</em>
    </span>
    by <span class="count"></span> other gems
  </h4>

  <table class="gem-dependents-transitive">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
